# Part 2: Variables, Data Types, Operators, and Conditional Logic

### Sequence types: `list`, `tuple`, and `range`

#### Lists 

Lists may be constructed in several ways:

 - using square brackets:
    - empty list: `[]`
    - separating items with commas: `[a]`, `[a, b, c]`
 - list comprehension: 
    - `[x for x in iterable]`
 - type constructor: 
    - empty list: `list()` 
    - from iterable: `list(iterable)`

In [4]:
# create some lists

my_list1= []
my_list1

[]

In [5]:
my_list1 = [1,2,3,4,5]
my_list1

[1, 2, 3, 4, 5]

In [6]:
my_list2 = list()
my_list2

[]

In [7]:
my_list2 = list('abc')
my_list2

['a', 'b', 'c']

In [8]:
list_my_lists = [my_list1,my_list2]
list_my_lists

[[1, 2, 3, 4, 5], ['a', 'b', 'c']]

##### List methods/operations

Lists impement all of the [common sequence methods](https://docs.python.org/3/library/stdtypes.html#typesseq-common) and 
the [mutable sequence operations/methods](https://docs.python.org/3/library/stdtypes.html#typesseq-mutable).

In addition, lists also support the additional method:
   - `sort(key=None, reverse=False)`
   - more information on sorting can be found in the [docs](https://docs.python.org/3/howto/sorting.html#sortinghowto)


##### List properties

The important properties of lists are as follows:
 - elements can be accessed by index (suscriptable)
 - iterable
 - mutable
 - ordered
 - can contain any arbitrary objects
 - can be nested to arbitrary depth
 - dynamic (change size)


<center><img src="Python_indexing.png" alt="Drawing" style="width: 600px;"/><br><br>

In [68]:
# create some lists
my_list3 = [5,10,8,'c',0,'a']
my_list3

[5, 10, 8, 'c', 0, 'a']

In [70]:
# list of letters
list_letters = list('abcdefg')
list_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [72]:
# get a single element
my_list3[0] # first item

5

In [74]:
my_list3[-1] #last item

'a'

In [78]:
len(list_letters)

7

In [80]:
list_letters[len(list_letters)-1] #last item

'g'

In [88]:
# slicing
# basic slicing
list_letters[0:3]

# leaving off starting and ending index


# step size different than 1

['a', 'b', 'c']

In [92]:
list_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [96]:
# negative indices
list_letters[-4:-1]

['d', 'e', 'f']

In [90]:
list_letters[4:]

['e', 'f', 'g']

In [104]:
list_letters[0:5:2] # [start:end:step]

['a', 'c', 'e']

In [106]:
my_list3

[5, 10, 8, 'c', 0, 'a']

In [108]:
# change an element
my_list3[0]= 500
my_list3

[500, 10, 8, 'c', 0, 'a']

In [110]:
# iterate over a list

for letter in list_letters:
    print(letter)

a
b
c
d
e
f
g

In [113]:
# ordered 

[1,2,3] ==[3,2,1]

False

In [115]:
# arbitrary objects

[1,"test",True,3.14]

[1, 'test', True, 3.14]

In [117]:
# nesting

nested_list = [my_list3,list_letters]
nested_list

[[500, 10, 8, 'c', 0, 'a'], ['a', 'b', 'c', 'd', 'e', 'f', 'g']]

In [119]:
nested_list[0]

[500, 10, 8, 'c', 0, 'a']

In [121]:
nested_list[0][3] # access to the first 'c'

'c'

In [123]:
nested_list[1][2]# access to the second 'c'

'c'

In [125]:
# add/remove elements to a list: append, extend, remove, +

list_letters.extend(['h','i'])

In [127]:
list_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [129]:
list_letters + ['j','k']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [131]:
list_letters.append(1)

In [133]:
list_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 1]

In [135]:
list_letters.remove(1)
list_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

#### Tuples 

Tuples may be constructed in several ways:
 - empty tuple: 
    - `()`
    - `tuple()`
 - a singleton tuple: 
    - `a,` 
    - `(a,)`
 - a multi-element tuple:
    - `a, b, c` 
    - `(a, b, c)`
    - `tuple(iterable)`

In [139]:
# create some tuples
my_tuple = ()
type(my_tuple)

tuple

In [141]:
my_tuple1 = (1,2,3)
my_tuple1

(1, 2, 3)

##### Tuple methods

Tuples impement all of the [common sequence methods](https://docs.python.org/3/library/stdtypes.html#typesseq-common).

##### Tuple properties

The important properties of tuples are as follows:
 - elements can be accessed by index (suscriptable)
 - iterable
 - immutable
 - ordered
 - can contain any arbitrary objects
 - can be nested to arbitrary depth

In [143]:
# create a tuple

my_tuple2 = (6,12,10,0,8)
# single element selection
my_tuple2[2]

10

In [145]:
# slice

my_tuple2[2:4]

(10, 0)

In [147]:
# change an element 

my_tuple2[2] = 100

TypeError: 'tuple' object does not support item assignment

In [149]:
# iterate over a tuple

for number in my_tuple2:
    print(number)

6
12
10
0
8

In [153]:
# ordered

(1,2,3) == (3,2,1) # order matters

False

In [155]:
# arbitrary objects


(1,'test',False,3.14)

(1, 'test', False, 3.14)

In [157]:
# nesting
nested_tuple = (my_tuple1,my_tuple2)
nested_tuple

((1, 2, 3), (6, 12, 10, 0, 8))

In [161]:
nested_tuple[1][3] # get 0

0

#### `range` function

The range object is:
 - suscriptable
 - iterable
 - immutable
 - ordered

However, you will generally see it used for loops, so the iterable property is the only one typcially seen.

In [ ]:
#range(end)
#range(start=0,end)
#range(start,end,step=1)

In [169]:
# basic use of range
my_range=range(5)
my_range

range(0, 5)

In [181]:
my_range[-1]

4

In [189]:
my_range2 = range(3,8)
my_range2[-1]

7

In [191]:
my_range2[0]

3

In [193]:
#change an element
my_range2[0] = 3

TypeError: 'range' object does not support item assignment

In [195]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [199]:
for i in range(1,11,2):
    print(i+1)

2
4
6
8
10

### Set types: `set`

 - using braces:
    - separating items with commas: `{'a', 'b', 'c'}`
 - set comprehension: 
    - `{ch for ch in 'abc'}`
 - type constructor: 
    - empty list: `set()` 
    - from iterable: `set(iterable)`

In [201]:
# create some sets 
my_set={}
type(my_set)

dict

In [205]:
my_set = set()
type(my_set)

set

In [207]:
my_set1 = {1,2,3,3,4,1}
my_set1

{1, 2, 3, 4}

In [25]:
my_set2 = {4,4,3,2,2,3,1}
my_set2

{1, 2, 3, 4}

In [211]:
my_set1 ==  my_set2

True

#### Set methods/operations

Sets implement various [methods/operations](https://docs.python.org/3/library/stdtypes.html#set) as noted in the docs.

##### Set properties

The important properties of sets are as follows:
 - elements are unique
 - not subscriptable
 - iterable
 - mutable
 - unordered
 - elements must be hashable

In [1]:
# unique elements

my_set3 = {7,8,9,8,7,10,8}
my_set3

{7, 8, 9, 10}

In [3]:
type(my_set3)

set

In [5]:
# not subscriptable

my_set3[0] # to get 7 ?

TypeError: 'set' object is not subscriptable

In [21]:
# iterable
for number in my_set3:
    print(number)

8
9
10
7

In [27]:
my_set2

{1, 2, 3, 4}

In [29]:
# mutable: add, remove, update
my_set2.add(5)
my_set2

{1, 2, 3, 4, 5}

In [31]:
my_set2.remove(3)

In [33]:
my_set2

{1, 2, 4, 5}

In [1]:
my_set2.remove(3)

NameError: name 'my_set2' is not defined

In [41]:
my_set2.discard(4)
my_set2

{1, 2, 5}

In [43]:
my_set2.discard(4)
my_set2

{1, 2, 5}

In [49]:
my_set3.add(1)
my_set3

{1, 7, 8, 9, 10}

In [53]:
my_set2.union(my_set3)

{1, 2, 5, 7, 8, 9, 10}

In [55]:
my_set2.intersection(my_set3)

{1}

In [57]:
my_set3.add(5)
my_set3

{1, 5, 7, 8, 9, 10}

In [59]:
my_set2.intersection(my_set3)

{1, 5}

In [61]:
my_set2 | my_set3 # union

{1, 2, 5, 7, 8, 9, 10}

In [63]:
my_set2 & my_set3 # intersection

{1, 5}

In [67]:
my_set2

{1, 2, 5}

In [69]:
my_set3

{1, 5, 7, 8, 9, 10}

In [65]:
my_set2 - my_set3 # diff

{2}

In [71]:
my_set3 - my_set2

{7, 8, 9, 10}

In [73]:
my_set2 ^ my_set3 # symmetric diff

{2, 7, 8, 9, 10}

### Mapping types: `dict`

#### Dictionary 

Lists may be constructed in several ways:

 - using `key:value` pairs with braces:
    - empty list: `{}`
    - separating items with commas: `{'a':1, 'b':2, 'c':3}`
 - dictionary comprehension: 
    - `{x:x**2 for x in range(10)}`
 - type constructor: 
    - empty list: `dict()` 
    - from iterable: `dict([('a', 1), ('b', 2), ('c', 3)])`, `dict(a=1, b=2, c=3)`

In [75]:
# create some dictionaries
student = { "id":1,"name":"Ali","gpa":3.8}
student

{'id': 1, 'name': 'Ali', 'gpa': 3.8}

In [77]:
type(student)

dict

In [80]:
university = dict([('id',100),('name','ISU'),('program','CS')])
university

{'id': 100, 'name': 'ISU', 'program': 'CS'}

#### Dictionary operations

Dictionaries various [methods/operations](https://docs.python.org/3/library/stdtypes.html#dict) as noted in the docs.

##### Dictionary  properties

The important properties of dictionaries are as follows:
 - access values by keys
 - iterable
 - mutable
 - unordered
 - keys must be hashable
 - can be nested
 - dynamic

In [86]:
# access via key, keys, values, items, iterate, mutable: d[k]=v, del, update, ordered, arbitrary objects, nesting
# access via key
student['id']

1

In [90]:
# keys

student.keys()

dict_keys(['id', 'name', 'gpa'])

In [92]:
# values

student.values()

dict_values([1, 'Ali', 3.8])

In [94]:
# items
student.items()

dict_items([('id', 1), ('name', 'Ali'), ('gpa', 3.8)])

In [98]:
# iterate over keys

for key in student:
    print(key,student[key])

id 1
name Ali
gpa 3.8

In [100]:
# iterate over values

for value in student.values():
    print(value)

1
Ali
3.8

In [104]:
# iterate over key-value pairs

for key,value in student.items():
    print(key,value)

id 1
name Ali
gpa 3.8

In [106]:
# mutable

student['gpa'] = 3.9
student

{'id': 1, 'name': 'Ali', 'gpa': 3.9}

In [114]:
# del
student['id'] = 1
del student['id']
student

{'name': 'Ali', 'gpa': 3.9}

In [116]:
# update
student.update({'name':'Sara','Major':'CS'})
student

{'name': 'Sara', 'gpa': 3.9, 'Major': 'CS'}

In [118]:
# ordered
sorted(student)

['Major', 'gpa', 'name']

In [120]:
# arbitrary objects
student['grades'] = [100,89,78,92]
student

{'name': 'Sara', 'gpa': 3.9, 'Major': 'CS', 'grades': [100, 89, 78, 92]}

In [122]:
# nesting
student_2 = {'name': 'Ali', 'gpa': 3.8, 'Major': 'DS', 'grades': [90, 92, 80, 78]}
nested_dic = {'stu1':student,'stu2':student_2}
nested_dic

{'stu1': {'name': 'Sara',
  'gpa': 3.9,
  'Major': 'CS',
  'grades': [100, 89, 78, 92]},
 'stu2': {'name': 'Ali',
  'gpa': 3.8,
  'Major': 'DS',
  'grades': [90, 92, 80, 78]}}

In [124]:
nested_dic['stu2']['gpa']

3.8

In [128]:
for key in nested_dic:
    for key_ in nested_dic[key]:
        print(nested_dic[key][key_])

Sara
3.9
CS
[100, 89, 78, 92]
Ali
3.8
DS
[90, 92, 80, 78]