# # Lab exercise 1 -  CS401L

## Variable Naming and Type Checking

- Define variables: `total_price`, `num_items`, `item_name` with appropriate values.
- Use `type()` to check data types.
- Try defining `class = 10`. What happens?

## Type Casting

- Convert `'123.45'` into float and int. What do you observe?
- Cast a float to a string and append `" dollars"` to it.

## Numeric and Boolean Operations

- With `x = 13`, `y = 4`, calculate:
  - Integer division
  - Modulo
  - Exponent
  - Floor division
- If `passed = True` and `score = 78.5`, check if score > 60 and print a message.

## Operator Precedence

- Predict and evaluate the following:
```python
3 + 4 * 2
(3 + 4) * 2
2 ** 3 ** 2
100 // (5 * (2 + 3))
```

## Conditional Logic

- Ask for temperature in Celsius.
- Print: "It's hot!" if > 30, "Nice weather" if 15â€“30, otherwise "It's cold!".

# Sequence, Set, and Mapping Types

## List Operations

- Create a list of 5 favorite movies.
- Replace the 2nd item, append one, remove the 1st, then sort.

## Tuple Practice

- Create a tuple with 3 strings and 1 number.
- Try to change an element.
- Convert to list, modify, then convert back.

## Range and Iteration

- Create a list of even numbers from 10 to 40 using `range`.
- Print each number and its square.

## Set Practice

- Create a set of 5 favorite fruits.
- Add one, remove one.
- Make a second set and find union, intersection, difference.

## Dictionary Practice

- Create a dictionary of three students and their grades.
- Add a fourth, update one, delete one, loop to print all.